<div class="container">
  <div class="row my-4">
    <h1 class="display-6">{{ 'Student.CreateThesis.Header' | translate }}</h1>
  </div>

  <div *ngIf="form && context" class="row py-3">
    <app-error-alert *ngIf="isErrorVisible"></app-error-alert>
    <form *ngIf="form" [formGroup]="form">
      <div class="mb-3">
        <label for="topic" class="form-label">{{ 'Form.Label.ThesisTopic' | translate }}</label>
        <input type="text" formControlName="topic" id="topic" class="form-control">
        <app-validation-feedback [errors]="getErrors(form,'topic')"></app-validation-feedback>
      </div>
      <div class="row mb-3">
        <div class="col-7">
          <label for="supervisorId" class="form-label">{{ 'Form.Label.Supervisor' | translate }}</label>
          <select formControlName="supervisorId" id="supervisorId" class="form-control">
            <option *ngFor="let item of supervisors" [value]="item.id">{{ LabelBuilder.forEmployee(item) }}</option>
          </select>
          <app-validation-feedback [errors]="getErrors(form,'supervisorId')"></app-validation-feedback>
        </div>
        <div class="col-5">
          <label for="numberOfStudents" class="form-label">{{ 'Form.Label.NumberOfStudents' | translate }}</label>
          <input type="number" formControlName="numberOfStudents" id="numberOfStudents" class="form-control">
          <app-validation-feedback [errors]="getErrors(form,'numberOfStudents')"></app-validation-feedback>
        </div>
      </div>
      <div class="mb-3">
        <label for="fieldOfStudy" class="form-label">{{ 'Form.Label.FieldOfStudy' | translate }}</label>
        <input type="text" formControlName="fieldOfStudy" id="fieldOfStudy" class="form-control">
      </div>
      <div class="mb-4">
        <label for="description" class="form-label">{{ 'Form.Label.Description' | translate }}</label>
        <textarea rows="5" formControlName="description" id="description" class="form-control"></textarea>
        <app-validation-feedback [errors]="getErrors(form,'description')"></app-validation-feedback>
      </div>
      <div class="gap-2 d-flex justify-content-end">
        <button
          type="submit" class="btn btn-success"
          [disabled]="!form!.valid"
          (click)="confirm()">
          {{ 'Button.Approve' | translate }}
        </button>
      </div>
    </form>
  </div>

</div>
