<div *ngIf="errors?.['required']" class="invalid-feedback" style="display: block">
  {{ 'Form.Feedback.Required' |  translate }}
</div>
<div *ngIf="errors?.['maxlength']" class="invalid-feedback" style="display: block">
  {{ 'Form.Feedback.MaxLength' |  translate }}
</div>
<div *ngIf="errors?.['min']" class="invalid-feedback" style="display: block">
  {{ 'Form.Feedback.Min' |  translate }}
</div>
<div *ngIf="errors?.['max']" class="invalid-feedback" style="display: block">
  {{ 'Form.Feedback.Max' |  translate }}
</div>
<div *ngIf="errors?.['pattern']" class="invalid-feedback" style="display: block">
  {{ 'Form.Feedback.Pattern' |  translate }}
</div>
